@use "Reset";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

//### Neutral colors
$AlmostWhite: hsl(0, 0%, 98%);
$MediumGray: hsl(0, 0%, 41%);
$AlmostBlack: hsl(0, 0%, 8%);

$font: "Epilogue", sans-serif;

body {
 font-family: $font;
 background-color: $AlmostWhite;
}

.attribution {
 margin-top: 5rem;
}

main {
 max-width: 1400px;
 margin-inline: auto;
 position: relative;
}

nav {
 display: flex;
 justify-content: space-between;
 padding: 2rem 2.5rem;

 .left-section {
  display: flex;
  align-items: center;

  .logo {
   margin-right: 62.24px;
  }

  .nav-list {
   display: flex;
   list-style-type: none;
   padding-left: 0;
   color: $MediumGray;

   .nav-list-item {
    padding-right: 40px;
    font-size: 14px;
    font-weight: 500;

    &:hover {
     color: black;
     transition: all 300ms ease-in-out;
    }

    &.features {
     display: flex;
     align-items: center;

     img:first-of-type {
      display: block;
     }

     img:last-of-type {
      display: none;
     }

     p {
      margin-right: 9px;
     }
    }
    &.company {
     display: flex;
     align-items: center;

     img:first-of-type {
      display: block;
     }

     img:last-of-type {
      display: none;
     }

     p {
      margin-right: 9px;
     }
    }

    &:hover {
     cursor: pointer;
    }
   }
  }

  .features-drop-down {
   position: absolute;
   opacity: 0;
   width: 153px;
   height: 160px;
   z-index: 1;
   left: 113px;
   top: 80px;
   background: #ffffff;
   box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
   border-radius: 10px;
   transition: all 300ms ease-in-out;

   &.active {
    opacity: 1;
   }

   ul {
    list-style-type: none;
    height: 100%;
    padding-left: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;

    li {
     display: flex;
     align-items: center;
     .icon-wrapper {
      width: 1.5rem;
      margin-right: 0.5rem;
     }
    }
    a {
     text-decoration: none;
     font-size: 14px;
     color: $MediumGray;
    }
   }
  }

  .company-drop-down {
   opacity: 0;
   width: 116px;
   height: 128px;
   position: absolute;
   z-index: 1;
   left: 306px;
   top: 80px;
   background: #ffffff;
   box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
   border-radius: 10px;
   transition: all 300ms ease-in-out;

   &.active {
    opacity: 1;
   }

   ul {
    list-style-type: none;
    height: 100%;
    padding-left: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;

    a {
     text-decoration: none;
     font-size: 14px;
     color: $MediumGray;
    }
   }
  }
 }

 .right-section {
  display: flex;
  align-items: center;

  button {
   border: 0;
   outline: none;
   background-color: transparent;
   color: $MediumGray;
   font-size: 14px;
   transition: all 300ms ease-in-out;
  }

  .login:hover {
   cursor: pointer;
   color: black;
  }
  .register {
   margin-left: 40px;
   border: 1.5px solid $MediumGray;
   border-radius: 14px;
   padding: 13px 22px;
   transition: all 300ms ease-in-out;

   &:hover {
    border: 1.5px solid black;
    cursor: pointer;
    color: black;
   }
  }
 }
}

.main-grid {
 display: grid;
 grid-template-columns: 540px 480px;
 grid-template-rows: 640px;
 gap: 125px;
 margin-left: 165px;
 margin-top: 2rem;

 .info {
  margin-top: 100px;
  position: relative;

  h1 {
   font-weight: 700;
   font-size: 80px;
   line-height: 80px;
   letter-spacing: -1.11px;
  }

  p {
   font-weight: 500;
   font-size: 18px;
   line-height: 28px;
   color: $MediumGray;
   width: 445px;
   margin-top: 2.5rem;
  }

  .learn-more-btn {
   border: 1px solid black;
   outline: none;
   background-color: black;
   border-radius: 15px;
   font-weight: 700;
   font-size: 18px;
   line-height: 28px;
   color: $AlmostWhite;
   text-align: center;
   padding: 15px 30px;
   margin-top: 2.6rem;
   letter-spacing: -0.25px;
   transition: all 300ms ease-in-out;

   &:hover {
    cursor: pointer;
    background-color: $AlmostWhite;
    color: $AlmostBlack;
   }
  }

  .footer {
   display: flex;
   position: absolute;
   bottom: 0;
   align-items: center;
   gap: 40px;
  }
 }

 .hero-placeholder {
  background-image: url("../../images/image-hero-desktop.png");
  background-size: 100%;
  background-repeat: no-repeat;
 }
}
